<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1 class="titre">Bonjour tous le monde!!!</h1>
    <main>
        <div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit deleniti corporis facere soluta maiores consequatur at vero ab molestias eum!</p>
            <button class="button">Detail</button>
        </div>
        <div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit deleniti corporis facere soluta maiores consequatur at vero ab molestias eum!</p>
            <button class="button">Detail</button>
        </div>
        <div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit deleniti corporis facere soluta maiores consequatur at vero ab molestias eum!</p>
            <button class="button">Detail</button>
        </div>
    </main>
    
</body>
</html>